
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Prata&display=swap');


.callout-container{
    height: 100vh;
    background: url("../images/sicily-header-image.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  color: #fff;

 }

 .nav
{
   position: fixed;
   top: 20px;
   margin-left: 20px;
   z-index: 1;
   
}

 .nav-link{
     color: #fff;
     font-size: 20px;
     font-family: "Montserrat", sans-serif;
     background-color: #ff5848;
     
 }

.callout-title {
     margin-top: 400px;
    margin-left: 40px;
     color:#fff;
     font-family: "Prata", sans-serif;
    
 }

 .about-heading{
     font-family: "Prata", sans-serif;
     text-align: center;
     font-size: 63px;
     padding-top: 20px;
     padding-bottom: 20px;
 }

 .hotel-photo-frame{
     background-color: #e9dfca;
     text-align: center;
 }

.hotel-image{
    padding: 40px;
    width: 75%;
    height: 75%;
    
}

.about-paragraph-container{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 400;

}

.about-paragraph{
    margin: 100px;
}

.see-more-link{
    font-family: "Montserrat", sans-serif;
    color: #ff5848;
    padding-bottom: 40px;
}


.link-underline{
    height: 10px;
    width: 150px;
    background-color: #ff5848;
    text-align: center;
    display: inline-block;
}


.hotels-section{
    padding-bottom: 40px;
}

.dining-experioence-container{
     height: 100vh;
    background: url("../images/dining-experience-image.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  color: #e9dfca;



}
.dining-title{
  font-family: "Prata", sans-serif;
  margin-top: 260px;

}




.keep-in-touch-title{
    font-size: 50px;
}

label{
    font-family: "Montserrat", sans-serif;
}

.keep-in-touch-container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 30%;
    text-align: center;
    background-color: #FCFAF6;
      font-family: "Prata", sans-serif;
}

.form-control{
    background-color: #FCFAF6;
}

.request-button{
    background-color: #ff5848;
    border-color: #ff5848;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}