
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Prata&display=swap');


.callout-container{
    height: 100vh;
    background: url("../images/sicily-header-image.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  color: #fff;

 }

 .nav
{
   position: fixed;
   top: 20px;
   margin-left: 20px;
   
}

 .nav-link{
     color: #fff;
     font-size: 20px;
     font-family: "Montserrat", sans-serif;
     background-color: #ff5848;
     
 }

.callout-title {
     margin-top: 400px;
    margin-left: 40px;
     color:#fff;
     font-family: "Prata", sans-serif;
    
 }

 .about-heading{
     font-family: "Prata", sans-serif;
     text-align: center;
     font-size: 63px;
     padding-top: 20px;
     padding-bottom: 20px;
 }

 .hotel-photo-frame{
     background-color: #e9dfca;
 }

.hotel-image{
    padding: 40px;
    width: 600px;
    
}

.about-paragraph-container{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 400;

}

.about-paragraph{
    margin: 100px;
}
 