
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Prata&display=swap');



.callout-container{
    height: 100vh;
    background: url("../images/sicily-header-image.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  color: #fff;

 }

 .callout-title {
     margin-top: 400px;
    margin-left: 40px;
     color:#fff;
     font-family: "Prata", sans-serif;
    
 }

/*-------------------nav bar-----------------*/
 .nav
{
   position: fixed;
   top: 20px;
   margin-left: 20px;
   z-index: 1;
   
}

 .nav-link{
     color: #fff;
     font-size: 20px;
     font-family: "Montserrat", sans-serif;
     background-color: #ff5848;
     
 }

 .menu-overlay-button{
     color: #fff;
     font-size: 20px;
     font-family: "Montserrat", sans-serif;
     background-color: #ff5848;
     height: 49px;
     border: none;
     border-radius: 5px;
 }




 /* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #e9dfca; /* Black fallback color */
  background-color: #e9dfca; /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 1s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-family: "Prata", sans-serif;
  font-size: 36px;
  color: #fff;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
} 


 /* The Overlay (background) */
.overlay2 {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #e9dfca; /* Black fallback color */
  background-color: #e9dfca; /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 1s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay2-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay2 a {
  padding: 8px;
  text-decoration: none;
  font-family: "Prata", sans-serif;
  font-size: 36px;
  color: #fff;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay2 a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay2 .closebtn2 {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #fff;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay2 a {font-size: 20px}
  .overlay2 .closebtn2 {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


/*-------------------about section-----------*/

 .about-heading{
     font-family: "Prata", sans-serif;
     text-align: center;
     font-size: 63px;
     padding-top: 20px;
     padding-bottom: 20px;
 }

 .about-header-underline{
    height: 30px;
    width: 300px;
    background-color: #e9dfca;
    text-align: center;
    display: inline-block;
}

.about-paragraph-container{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 400;

}

.about-paragraph{
    margin: 100px;
}

/*-------------------hotel section-----------*/

.hotels-header-underline{
    height: 30px;
    width: 300px;
    background-color: #e9dfca;
    text-align: center;
    display: inline-block;
}

.hotel-photo-frame{
     background-color: #F5ECDC;
     text-align: center;
     margin-top: 40px;
 }

.hotel-image{
    padding: 40px;
    width: 75%;
    height: 75%;
    
}

.hotels-section{
    padding-bottom: 40px;
}

/*-------------------dining section-----------*/

.dining-header-underline{
    height: 30px;
    width: 300px;
    background-color: #e9dfca;
    text-align: center;
    display: inline-block;
}

.dining-experioence-container{
     height: 100vh;
    background: url("../images/dining-experience-image.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  color: #e9dfca;
  margin-top: 40px;



}
.dining-title{
  font-family: "Prata", sans-serif;
  margin-top: 260px;

}


 
/*-------------------link section-----------*/




.see-more-link{
    font-family: "Montserrat", sans-serif;
    color: #ff5848;
    padding-bottom: 40px;
}

.book-now-link{
    font-family: "Montserrat", sans-serif;
    color: #ff5848;
    padding-bottom: 40px;
}

.reserve-link{
    font-family: "Montserrat", sans-serif;
    color: #ff5848;
    padding-bottom: 40px;
}


.see-link-underline{
    height: 10px;
    width: 150px;
    background-color: #ff5848;
    text-align: center;
    display: inline-block;
}

.book-link-underline{
    height: 10px;
    width: 150px;
    background-color: #ff5848;
    text-align: center;
    display: inline-block;
}

.reserve-link-underline{
    height: 10px;
    width: 150px;
    background-color: #ff5848;
    text-align: center;
    display: inline-block;
}





/*-------------------keep in touch section-----------*/



.keep-in-touch-title{
    font-size: 50px;
}

label{
    font-family: "Montserrat", sans-serif;
}

.keep-in-touch-container{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 30%;
    text-align: center;
    background-color: #FCFAF6;
      font-family: "Prata", sans-serif;
      display: inline-block;
}

.contact-info{
    text-align: right; 
    margin-bottom: 100px;

}

.contact-title{
    font-family: "Montserrat", sans-serif;
    color: #ff5848;
    padding-top: 100px;
}


.contact-paragraph{
    font-family: "Montserrat", sans-serif;
}
.links-section{
    padding-top: 100px;
}
.link-divider{
    color: #ff5848;
    text-align: center;
    margin-left: 12px;
    margin-right: 9px;
}

.fa{
    font-size: 20px;
}

.link-container{
 text-align: bottom left;
}

.link-title{

    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: black;
   
}

.link-line{
    margin-bottom: 100px;
    width: 50%;
    height: 2px;
    background-color: black;
}


.form-control{
    background-color: #FCFAF6;
}

.request-button{
    background-color: #ff5848;
    border-color: #ff5848;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
}

.heading-container{
    text-align: center;
}

/*-------------------footer section-----------*/


.footer-line{
    width: 100%;
    height: 1px;
    background-color: #ff5848;
    text-align: center;
    display: inline-block;
    margin-bottom: 100px;
    margin-top: 15px;

}

.footer-credit{
     font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
    
}

/*-------------------booking section-----------*/


.booking-page-callout{
    height: 100vh;
    background: url("../images/booking-photo.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  color: #ff5848;
}

.booking-title{
    font-family: "Prata", sans-serif;
  margin-top: 400px;

}

.booking-paragraph{
     font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: 100px;
}

div#map {
    min-height: 360px;
    margin: 40px;
}

.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Prata', sans-serif;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.2);
}

.booking-form {
	background-color: #F5ECDC;
	max-width: 768px;
	width: 100%;
	margin: auto;
	padding: 30px;
	border-radius: 3px;
}

.booking-form .form-header {
	text-align: center;
	margin-bottom: 40px;
}

.booking-form .form-header h1 {
	font-family: 'Prata', serif;
	font-weight: 700;
	text-transform: capitalize;
	font-size: 38px;
	color: #0c0c09;
	margin-top: 0;
	margin-bottom: 0px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 50px;
	padding: 0px 20px;
	border: 1px solid #e1e1e1;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 3px;
	color: #6b6b6d;
	font-size: 14px;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #e1e1e1;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #e1e1e1;
}

.booking-form .form-control::placeholder {
	color: #e1e1e1;
}

.booking-form .form-control:focus {
	border-color: #c99552;
}

.booking-form input[type="date"].form-control:invalid {
	color: #e1e1e1;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 24px;
	text-align: center;
	pointer-events: none;
	background: #e1e1e1;
	height: 50px;
	line-height: 50px;
	color: rgba(107, 107, 109, 0.3);
	font-size: 14px;
	border-radius: 0px 3px 3px 0px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form select.form-control+.select-arrow::after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form select.form-control:focus+.select-arrow {
	background: #ff5848;
	color: #fff;
}

.booking-form .form-label {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 3px;
	display: inline-block;
	color: #ff5848;
	text-transform: capitalize;
}

.booking-form .in-out {
	position: absolute;
	font-size: 24px;
	color: #ff5848;
	right: -15px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	z-index: 20;
	text-align: center;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	bottom: 25px;
}

.booking-form .form-btn {
	margin-top: 23px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #ff5848;
	font-weight: 700;
	height: 50px;
	border: none;
	display: block;
	font-size: 14px;
	width: 100%;
	text-transform: capitalize;
	border-radius: 3px;
}



